<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEDEMY</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("../_navbar") %>

  <div class="container mt-5" >
    <h1>Welcome <%= studentDetail.nameHonorific %></h1>
    <a style="align-self: flex-start;" class="btn btn-warning mb-3 mt-3" href="/student/<%= studentId %>/courses/">My Courses</a>
    <div class="card-container">
      <% courses.forEach(el=>{ %>
        <div class="card mb-3" >
          <img src="<%= el.poster %>" class="card-img-top h-50 object-fit-cover" alt="invalid">
          <div class="card-body">
            <h5 class="card-title"><%= el.name %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"><%= el.Category.name %></h6>
            <p class="card-text text-truncate"><%= el.description %></p>
          </div>
          <div class="w-100" style="display: grid;grid-template-columns: 45% 45%;gap: 10%;align-self: flex-end; padding: 10px;">
            <a href="/student/<%= studentId %>/courses/<%= el.id %>/enroll"  class="btn btn-primary">Enroll</a>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <%- include("../_dummy") %>
</body>
</html>